@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Press+Start+2P&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-ichi;
  font-size: 62.5%;   //    1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}